/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    font-size: 60.5%;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
    color: #777;
    position: relative;
}
.header{
    background-image: linear-gradient(to right bottom,
    rgba(126, 213, 111, 0.452),
    rgba(85, 197, 122, 0.466)),
     url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    position: relative;
}
.header__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.heading-primary{
    margin-bottom: 6rem;
}
.heading-primary--main{
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation: moveInLeft 1s ease-out;

}
.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
    transition: all .3s;

}
.header__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
}
.header__logo{
    height: 3.5rem;
}
.btn:link,
.btn:visited{
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    font-size: 1.6rem;
   
}
.btn--white{
    background-color: #fff;
    color: #777;

}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        transform: translateX(0);
    }
}