@keyframes moveInLeft{
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
  80%{
    transform: translateX(1rem);
    
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInright{
  0%{
    transform: translateX(10rem);
    opacity:0;
  }
  80%{
  transform: translateX(-1rem);
  
}
100%{
    transform: translateX(0);
    opacity:1;

  }
}
@keyframes moveTobotoom{
  0%{
    opacity: 0;
    transform: translateY(10rem);
  }
  100%{
    transform: translateY(0);
    opacity: 1;

  }
}